.daily-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
.daily-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.daily-items > img{
    width: 4vw;
}