.pressure-humidity{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.pressure-humidity > div{
    background-color: rgb(245,250,255);
    padding: 4%;
    width: 45%;
    font-size: 13;
    font-weight: 300;
}