*{
    margin:0;
    box-sizing: border-box;
    padding: 0;
}

.body{
    width: 22%;
    border: 1px solid black;
    margin: auto;
    border-radius: 6px;
    padding: 10px;
    height: 600px;
    background-color: whitesmoke;
}